
Proj1/projekt_1\.aux

Proj1/projekt_1\.log

Proj1/projekt_1\.pdf

Proj1/projekt_1\.synctex\.gz

Proj1/cFiles_bernhard/\.metadata/

Proj1/cFiles_bernhard/GaussLegendre00/Debug/

Proj1/cFiles_bernhard/GaussLegendre01/Debug/

Proj1/cFiles_bernhard/GaussLegendre01/Release/

Proj1/cFiles_bernhard/GaussLegendre01/GaussLegendre01\.exe\.stackdump

Proj1/cFiles_bernhard/GaussLegendre01/matrixU\.exe\.stackdump

Proj1/cFiles_bernhard/cppLib/Debug/

Proj1/cFiles_bernhard/cppTemplate/Debug/

Proj1/cFiles_bernhard/myLib/Debug/

Proj1/cFiles_bernhard/person/Debug/

Proj1/cFiles_bernhard/person/matrixU\.exe\.stackdump

*.stackdump

Proj1/cFiles_bernhard/squarematrixmain/Debug/

Proj1/cFiles_bernhard/template/Debug/

Proj1/cFiles_bernhard/GaussLegendre01/test1/

Proj1/cFiles_bernhard/GaussLegendre01/test2/

Proj1/cFiles_bernhard/asdf/Debug/
